@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700&subset=cyrillic');

.scheme {
  &__text {
    fill: currentColor;
    color: #999999;
    font-weight: 700;
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
    font-size: 44px;

    &--secondary {
      font-size: 26px;
    }

    &.fragment.highlight-blue.visible {
      color: #42affa !important;
    }
  }
}

.hat {
  margin-top: 40px;

  path {
    fill: #0051ff;
    animation: hat 3s linear infinite alternate;
  }
}

@keyframes hat {
  0% {
    fill: hsla(160, 100%, 50%, 1);
  }
  50% {
    fill: hsla(300, 100%, 50%, 1);
  }
  100% {
    fill: hsla(160, 100%, 50%, 1);
  }
}

.nowrap {
  white-space: nowrap;
}

.img-custom {
  border: none !important;
  box-shadow: none !important;
  height: auto;
}

.reveal .sources {
  font-size: 28px;

  dd {
    float: left;
    margin-left: 0;
    margin-right: .3em;
  }

  dt {
    font-weight: 400;
    margin-bottom: .5em;
  }
}
